.vcl_webContainer980px
{
  max-width:980px;
  margin-left: auto;
  margin-right: auto;	
}
.vcl_container
{
  /*max-width:980px;*/
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 20px;
}
.vcl_logincontainer
{
  max-width:314px;
  margin-left: auto;
  margin-right: auto;
}
.vcl_createUserContainer
{
  max-width:647px;
  margin-left: auto;
  margin-right: auto;
}
.navbar-brand
{
padding-top:0px;
padding-bottom:0px;	
}
.jumbotron
{
padding:15px;
margin-bottom:0px;	
}

#form_table td 
{
   padding: 3px;
}
#form_table 
{
    border-spacing: 3px;
    border-collapse: separate;
}
.filterform-groups{
    margin-bottom:0px;
}

.table-height{
    max-height: 550px;
}
.vcl-backgroundRed
{
	background-color: red;
}
#logOutBtn
{    
	visibility: hidden;
}
.hiddenSubmitBtn
{    
	visibility: hidden;
}
.shadow
{
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

/*-----------------------------------paddings------------------------------------*/
 .paddingTop15
{
	padding-top:15px;
} 
.paddingleft0
{
	padding-left: 0px;
}
.ExtraPadding30px
{
  padding:30px;
}